{% extends 'base.html' %}

{% block css %}
  <link href="{{ url_for('static', filename='chat.css') }}" rel="stylesheet">
{% endblock %}

{% block js %}
  <script src="{{ url_for('static', filename='chat.js') }}"></script>
{% endblock %}

{% block content %}
  <!-- <h1>Welcome to My Website</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod porttitor nisi, at tristique augue accumsan vitae.</p> -->
  <div id="chat-container"></div>

  <div id="chat-controls-container">
    <div class="input-group mb-3">
      <input id="message-input" class="form-control" type="text" placeholder="" aria-label="Recipient's username" aria-describedby="button-addon2">
      <button id="message-send-btn" class="btn btn-outline-secondary" type="button">发送</button>
    </div>
  </div>
{% endblock %}
